@charset "utf-8";

#wrap {max-width: 1920px; }

.inner {margin:0 auto; }

#header {justify-content: space-between; position: relative; background: rgba(117,103,92,0.5); }
#header h1 {text-align: center; padding:50px 0; }
#header .inner {align-items: center;}
#header .inner .gnb {display:flex; justify-content: center; gap:50px; padding:30px 0; background: #fff; border-bottom:2px solid #75675C; }
#header .inner .gnb > li > a {font-size:12px; font-weight: 700; padding:20px; }
#header .inner .gnb > li > .depth2 {width:120px ; position: absolute; z-index: 9; background: #fff; }
#header .inner .gnb > li > .depth2 li a {display:block; padding:20px 10px; color:#999; font-weight: 700; border:1px solid #75675C; text-align: center;}
#header .inner .gnb > li > .depth2 li a:hover {color:#ffba00; }
#header .util {position: absolute; right:5%; top:15%; display:flex; gap:30px; align-items: center;}

body {font-family: "NanumGothic";}

h2 {font-size:50px; color:#75675C; text-align: center; font-family: "Baloo 2";}

#donut {padding : 100px 0; }
#donut .donut_menu {display:flex; justify-content: space-between; }
#donut .donut_left {display:flex; width:960px; align-items: center; }
#donut .donut_left img {scale:1.2; }
#donut .donut_left h3 {font-size:30px; }
#donut .donut_left h4 {color:#999; padding:30px 0; font-size:12px; }
#donut .donut_left p {font-size:16px; }
#donut a > img {scale: 0.03;}

#donut .donut_right {display:flex; flex-wrap: wrap; text-align: center; width: 960px; }
#donut .donut_right img {scale:0.7; }
#donut .donut_right h5 {font-size:20px; padding-bottom:10px; }
#donut .donut_right p {font-size:12px; color:#999; }
#donut .donut_right .donut_right_box img {width:425px; }

#sand {padding:100px 0; }
#sand .sand_menu {display:flex; text-align: center; }
#sand .sand_menu h3 {font-size:24px; }
#sand .sand_menu h4 {color:#999; padding:20px 0;}
#sand img {width:425px; height: 425px; }
#sand .sand_menu .sand_menu_box:nth-child(2n)

#event {padding:100px 0; }
#event .inner {padding-bottom:100px; }
#event h2 {padding-bottom:100px; text-align: left; }

#story {padding:100px 0; background: url('../image/history/img_banner_1_1.jpg')no-repeat center; }
#story .inner {margin:0 550px; }
#story h2 {text-align: left; padding-bottom:50px; }
#story p {font-size: 20px; padding:20px; font-weight: 800; }
#story a {border: 2px solid #75675C; padding:10px 20px; font-size:12px; font-weight: 600;}

#sns {padding:100px 0 ;}
#sns .inner {text-align: center; }
#sns h2 {padding-bottom:50px; }
#sns p {font-size:3rem; font-weight: 700; padding:30px 0;}
#sns .sns {height:450px; }
#sns .sns img {width:100%;}
#sns .sns_icon a {padding:0 20px; }

#footer {background: rgba(117,103,92,0.7); padding:50px 0;}
#footer .inner {display:flex; justify-content: space-between; }
#footer .footer_left {color:#fff; }
#footer .footer_left address {font-size:16px; }
#footer .footer_left .copy {font-size:16px; }

#footer .footer_right p {font-size:16px; color:#fff;}