@charset "utf-8";

.depth2 {display:none; }

body {font-size:100%; line-height: 1.5; color:#000; font-family: "Noto Sans KR",sans-serif; }
.inner {width:1600px; margin:0 auto;}
h2 {font-size:50px; font-weight: 700;}
p {font-size:16px; font-weight: 500; color:#999; }

#header {padding:30px 0 20px;}
#header .inner {display:flex; justify-content: space-between;}
#header .gnb {display:flex; justify-content: space-around; gap:100px; }
#header .gnb > li {font-size:20px; font-weight: 700; position: relative;}
#header .gnb > li .depth2 {width:180px; background: #ff4713; font-size:15px; position: absolute; z-index: 2; left:-50%; border-radius: 10px; transition: all 0.6s;}
#header .gnb > li .depth2 li {padding:10px 30px;}
#header .gnb > li .depth2 li a {color:#fff; padding:3px 0;}
#header .gnb > li .depth2 li a:hover {color:#ffff00;}
#header .gnb > li:hover a{color:#ff4713; }
#header .gnb > li:hover .depth2 {display:block; }
#header .header_link {padding:12px 30px; background: #ff4713; color:#fff; border-radius: 30px;}

#main #best h2::before {content:"SECLECTO"; font-size:20px; color:#ff4713 ; display:block;}
#main #best h2::after {content:""; width:120px; display:block; height:1px; background: #ff4713; position: absolute; left: calc(50% - 60px); top:0;}

#main #franchise h2::before {content:"SECLECTO"; font-size:20px; color:#ff4713 ; display:block;}
#main #franchise h2::after {content:""; width:120px; display:block; height:1px; background: #ff4713; position: absolute; left: 0; top:0;}

#main #follow h2::before {content:"SECLECTO"; font-size:20px; color:#ff4713 ; display:block;}
#main #follow h2::after {content:""; width:120px; display:block; height:1px; background: #ff4713; position: absolute; left: calc(50% - 60px); top:0;}

#main #event h2::before {content:"SECLECTO"; font-size:20px; color:#ff4713 ; display:block;}
#main #event h2::after {content:""; width:120px; display:block; height:1px; background: #ff4713; position: absolute; left: 0; top:0;}


#best {padding:220px 0 200px;}
#best .inner ul {display:flex; justify-content: center; position: relative;}
#best .inner ul li dl {transition: all 0.6s;}
#best .inner {text-align: center;}
#best .inner  ul li dl dt {text-align: center; padding:30px 0 40px; font-size:28px; 
    font-weight: 700; color:#fff; background:#ff4713; position: absolute; bottom:5px; width:415px; display:none;}
#best .inner  ul li:hover dl dt {display:block;}

#franchise {background: url('../images/franchise_bg.png')no-repeat; }
#franchise .franchise_txt {width:640px; height: 640px; background: #fff; padding:180px 100px; margin-left:50%;}
#franchise .franchise_txt h2 {padding-bottom:30px;}
#franchise .franchise_txt p:nth-child(3) {padding:50px 0;}
#franchise .franchise_txt a {color:#ff4713; background: #fff; padding:20px 40px; border:2px solid #ff4713; transition: all 0.6s ;}
#franchise .franchise_txt a:hover {color:#fff; background: #ff4713; }

#follow {padding:220px 0 200px; text-align: center;}
#follow p {padding-bottom:50px;}
#follow img {max-width: 360px; max-height: 360px;}

#event {padding:180px 0 150px; background: #f7f6f3;}
#event .inner {display:flex;}
#event .inner .event_left {width:500px; }
#event .inner .event_right dl {background: url('../images/icon_arrow.png')no-repeat right center; width:1100px; padding:50px 0; 
                            border-bottom:1px solid rgba(0,0,0,0.2); transition: all 0.6s; cursor: pointer;}
#event .inner .event_right dl:hover {border-bottom:1px solid #ff4713; background: url('../images/icon_arrow.png')no-repeat right 50px center;}
#event .inner .event_right dt {color:#ff4713; font-size:30px; padding-bottom:15px;}
#event .inner .event_right dt span {font-weight: 700;}
#event .inner .event_right dd {color:#999; }

#footer {text-align: center; padding:100px 0; background: #ff4713;}
#footer .footer_logo {display:flex; gap:15px; justify-content: center; padding:30px 0;}
#footer address {padding-bottom:50px; color:rgba(255,255,255,0.5); }
#footer .copy {color:rgba(255,255,255,0.5); }

.gotop a {background: url('../images/gotop.png')no-repeat center center #000; 
    font-size:0; position: fixed; right:10px; bottom:50px; width:100px; height: 100px; border-radius: 50%; z-index: 5;}