@charset "utf-8" ;

body {font-size:100%; line-height: 1.5; color:#000; font-family: "Noto Sans KR",sans-serif; }
.inner {width:1600px; margin:0 auto;}

#wrap{overflow: hidden; min-width: 1600px; }

#header .inner {display:flex; justify-content: space-between; align-items: center; padding:20px 0;}
#header h1 img {display:block; }
#header nav {margin:0 100px 0 auto; }
#header .gnb {display:flex; position: relative; z-index: 5;}
#header .gnb > li > a {display:block; font-size:20px; font-weight: 700; padding:15px 40px; }
#header .gnb > li > .depth2 {position: absolute; background: #fff; width:200px; box-shadow: 5px 5px 10px rgba(0,0,0,0.3); padding:20px 0;}
#header .gnb > li > .depth2 > li {padding:10px 20px; width:100%; transition: all 0.6s;}
#header .gnb > li > .depth2 > li > a {padding:5px 20px; width: 100%; color:#000;}
#header .gnb > li > .depth2 > li:hover {background: #ffb500;}
#header .gnb > li > .depth2 > li:hover a {color:#fff; }
#header .gnb > li:hover .depth2 {display:block; }
#header .gnb > li:hover a {color:#ffb500; }

#header .sitemap {width:50px; height: 50px; background: #fff; border-radius: 50%; border: 0; box-shadow: 5px 5px 10px rgba(0,0,0,0.1); font-size: 0; position: relative; cursor: pointer;}
#header .sitemap span {display:inline-block; width:25px; height: 3px; background: #005ad5;}
#header .sitemap span:nth-child(1) {position: absolute; left: calc(50% - 12.5px); top:18px;}
#header .sitemap span:nth-child(2) {position: absolute; left: calc(50% - 12.5px); bottom: 18px;}

#main h2 {font-family: "Cormorant Garamond",serif; font-size:80px; color:#005ad5; letter-spacing: -1px; text-align: center; position: relative;}
#main h2 + p {text-align: center; color:#999; }

#main h2::before {content:"Auntie Anne's"; font-size:20px; color:#ffd87b ; display:block;}
#main h2::after {content:""; width:120px; display:block; height:1px; background: #ffd87b; position: absolute; left: calc(50% - 60px); top:0;}

#best {padding:150px 0;}
#best ul {display:flex; }
#best ul li {display:flex; width:calc(100% / 2); align-items: center; }
#best dt {font-size:30px; font-weight: 700; padding-bottom:40px; }
#best dd {font-size:20px; font-weight: 500; color:#999; }

#story { position: relative; height: 700px; overflow: hidden;}
#story video { width: 100%; height: 100%; object-fit: cover; }
#story h2 {position: absolute; left:calc(50% - 190px); top:250px; }
#story p {position: absolute; left:calc(50% - 110px); top:400px;}
#story a {left:calc(50% - 30px); top:470px; background: url('../images/icon_plus.png')no-repeat center #ffb500; 
        width:60px; height: 60px; border-radius: 50%; font-size:0; position: absolute;}

#follow img {max-height: 450px; border-radius:225px 225px 0 0 ; max-width: 450px;}
#follow img:hover {background: rgba(0,0,0,0.7) url('../images/icon_insta.png')no-repeat center center;}
#follow {padding-top:220px;}
#follow p {padding-bottom:50px;}

#event {padding:200px 0;}
#event .inner {display:flex; max-width: 1600px; gap:150px;}
#event .inner .event_img {display:flex; width:1200px; gap:50px;}
#event .inner .event_img dl { width:580px; height: 470px; position: relative;}
#event .inner .event_img dl:hover .event_img_txt {display:block;}
#event .inner .event_img .event_img_txt {display:none; transition: all 0.6s ;}
#event .inner .event_img dt {font-size:30px; background: rgba(0,0,0,0.5); color:#fff; padding:40px 40px 80px; position: absolute; bottom:0; width:100%;}
#event .inner .event_img dd {font-size:20px; color:rgba(255,255,255,0.5); margin-bottom:40px; position: absolute; bottom:0; left:40px;}
#event .inner .event_img dl:nth-child(1) {background: url('../images/event_01.jpg')no-repeat center;}
#event .inner .event_img dl:nth-child(2) {background: url('../images/event_02.jpg')no-repeat center;}

#footer .footer_top {text-align: center; background: #005ad5; padding:50px 0;}
#footer .footer_top .icon {display:flex; justify-content: center; gap:20px;}
#footer address {color:rgba(255,255,255,0.5); }
#footer .footer_bottom {padding:20px 0; text-align: center; color:#fff; background: #ffb500;}

.gotop a{background: url('../images/icon_topbtn.png')no-repeat center top 20px #fff; color:#ffb500; 
        position: fixed; right:50px; bottom:50px; display:block; cursor: pointer; width:80px; height: 80px; border-radius: 50%;
        text-align:center; box-shadow: 5px 5px 10px rgba(0,0,0,0.5); z-index: 5; border: 0; font-size:20px; font-weight: 700;
        font-family: "Noto Sans KR"; padding-top:30px;}